- if message
  #user_message
    %p= message

#login_box
  %h3 Please Log In
  %form#login{:method => "post"}
    %label{:for => "username"}Username
    %input#username{:type => 'text', :name => "username"}
    %label{:for => "password"}Password
    %input#password{:type => 'password',  :name => "password"}
    %input#submit{:type => 'submit', :value => "Login"}

#information_box
  %p
    Find people in
    %a{:href => "directory_url_here"} #{directory.display_name}
  %p
    Wondering where to go?
  %p
    Try the following sites that use this IDP:
    %ul
      %li
        %a{:href => sp_home} #{sp_name}
  #examples
    %ul
      - directory.example_accounts.each do |account|
        %li
          %a{:href => '#', :class => "autotyper", :id => "creds_#{account.principal}", :"data-cred" => account.principal }
            = account.principal

  