
%pre>
  %u> Miscellaneous&#x000A;
  %strong>Client Address:&nbsp; 
  #{stats[:ip_address]} &#x000A;
  %strong> Identity Provider:&nbsp; 
  #{stats[:idp_entity_uri]}&#x000A;
  %strong> SSO Protocol:&nbsp; 
  #{stats[:sso_protocol]}&#x000A;
  %strong> Authentication Time:&nbsp; 
  #{stats[:authentication_time]}&#x000A;
  %strong> Authentication Context Class:&nbsp; 
  #{stats[:authentication_context_class]}&#x000A;
  %strong> Authentication Context Decl:&nbsp;
  #{stats[:authentication_context_decl]}&#x000A;
  %strong> Session Expiration (barring inactivity):&nbsp; 
  #{stats[:minutes_remaining]} minutes(s)&#x000A;
  &#x000A;
  %u> Attributes&#x000A;
  - attribute_stats.keys.sort.each do |attr| 
    %strong> #{attr}:&nbsp;
    #{attribute_stats[attr]} value(s) &#x000A;
